<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativeokadocmeet">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
</manifest>
